# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.npm
.env
.env.local
.env.*.local
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/
.nyc_output

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude potential secrets
*.pem
*.key
credentials.json